.content_wrapper {
  width: 80%;
  margin: 0 auto;
  .content_name {
    font-size: 5vw;
    margin-bottom: 10%;
    text-align: center;
  }
  .description {
    font-size: 3vw;
    height: 12%;
    overflow-y: scroll;
  }
  .permalink_wrapper {
    position: relative;
    margin: 0 auto;
    @media (min-width: 650px) {
      text-align: center;
      position: fixed;
      bottom: 10%;
      width: 80%;
    }
  }
}
